/*! global css  */
@import url(base.css);

/*! layout  */
@import url(layout/header.css);
@import url(layout/footer.css);

/*! components  */
@import url(components/modal-search.css);
@import url(components/slider.css);
@import url(components/category-item.css);
@import url(components/product-item.css);
@import url(components/campaign-item.css);
@import url(components/blog-item.css);
@import url(components/campaign-single.css);
@import url(components/single-product/breadcrumb.css);
@import url(components/single-product/product-gallery.css);
@import url(components/single-product/product-info.css);
@import url(components/single-product/product-tabs.css);
@import url(components/reviews.css);

/*! pages  */
@import url(pages/home.css);
@import url(pages/contact.css);
@import url(pages/account.css);
@import url(pages/cart.css);
@import url(pages/single-product.css);
@import url(pages/blog.css);
@import url(pages/single-blog.css);


.favorites-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px; 
  }
  
  .product-card {
    
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
  }
  
  
  @media (max-width: 768px) {
    .favorites-grid {
      grid-template-columns: 1fr; 
    }
  }

  .yorumlar-container {
    width: 80%;
    margin: 20px auto;
    font-family: sans-serif;
}

.urun-row {
    display: flex;
    justify-content: space-between;
}

.yorum {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    width: 30%; 
    text-align: center; 
  }

.yorum-urun-resim {

        width: 200px;
        height: auto; 
        object-fit: contain;
        margin-bottom: 10px;
   
}

.yorum h3 {
    margin-bottom: 5px; 
}

.yorum-yazar {
    font-style: italic;
    margin-top: 10px; 
}