/* yorumlar.css */

.yorumlar-container {
    width: 80%;
    margin: 20px auto;
    font-family: sans-serif;
}

.urun-row {
    display: flex;
    justify-content: space-between;
}

.yorum {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    width: 30%;
    text-align: center;
}

.yorum-urun-resim {
    
        width: 200px;
        height: 200px;
        object-fit: contain; 
        margin-bottom: 10px;
    
}

.yorum h3 {
    margin-bottom: 5px;
}

.yorum-yazar {
    font-style: italic;
    margin-top: 10px;
}